@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 15px;
  font-family: "Poppins";
  position: relative;
}

.header__container {
  width: 100%;
  margin-top: 93px;
  padding-inline: 40px;
  font-weight: 400;
  max-width: 600px;
  margin-inline: auto;
}
.header__container h1 {
  font-size: 17px;
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  line-height: 30px;
  max-width: 400px;
  margin-inline: auto;
}
.header__container h1 span {
  color: hsl(234, 12%, 34%);
  font-weight: 700;
}
.header__container p {
  margin-top: 32px;
  font-weight: 500;
  color: hsl(229, 6%, 66%);
  font-size: 12px;
}

.card__container {
  width: 100%;
  max-width: 1600px;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
  gap: 25px;
  padding-inline: 32px;
}
.card__container .card {
  width: 311px;
  max-width: 350px;
  height: 225px;
  padding: 30px;
  position: relative;
}
.card__container .card h3 {
  font-weight: 700;
  color: hsl(234, 12%, 34%);
}
.card__container .card p {
  margin-top: 18px;
  font-weight: 700;
  color: hsl(229, 6%, 66%);
  line-height: 25px;
  font-size: 12px;
}
.card__container .card img {
  position: absolute;
  bottom: 18px;
  right: 30px;
}
.card__container .card--blue {
  border-radius: 5px;
  border-top: 5px solid hsl(212, 86%, 64%);
  box-shadow: 5px 5px 25px rgba(233, 238, 241, 0.8039215686), -5px -5px 25px rgba(233, 238, 241, 0.8039215686);
}
.card__container .card--red {
  border-radius: 5px;
  border-top: 5px solid hsl(0, 78%, 62%);
  box-shadow: 5px 5px 25px rgba(233, 238, 241, 0.8039215686), -5px -5px 25px rgba(233, 238, 241, 0.8039215686);
}
.card__container .card--orange {
  border-radius: 5px;
  border-top: 5px solid hsl(34, 97%, 64%);
  box-shadow: 5px 5px 25px rgba(233, 238, 241, 0.8039215686), -5px -5px 25px rgba(233, 238, 241, 0.8039215686);
}
.card__container .card--cyan {
  border-radius: 5px;
  border-top: 5px solid hsl(180, 62%, 55%);
  box-shadow: 5px 5px 25px rgba(233, 238, 241, 0.8039215686), -5px -5px 25px rgba(233, 238, 241, 0.8039215686);
}

footer {
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
  .header__container {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    height: auto;
    margin-bottom: -100px;
  }
  .header__container h1 {
    font-size: 25px;
    padding-left: 33px;
  }
  .header__container p {
    text-align: center;
  }
  .card__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 200px);
  }
  .card__container .card--red {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 205px;
  }
  .card__container .card--cyan {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: -110px;
  }
  .card__container .card--orange {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: -205px;
  }
  .card__container .card--blue {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 110px;
  }
}

/*# sourceMappingURL=style.css.map */
