@use "../var" as v;
@use "../utils" as u;

.header__container {
  width: 100%;
  margin-top: 93px;
  padding-inline: 40px;
  font-weight: 400;
  max-width: 600px;
  margin-inline: auto;
  
 

  h1 {
    font-size: 17px;
    color: map-get($map: v.$colors, $key: grayishBlue);
    font-weight: 200;
    line-height: 30px;
    max-width: 400px;
    margin-inline: auto;

    span {
      color: map-get($map: v.$colors, $key: darkBlue);
      font-weight: 700;
    }
  }

  p {
    
    margin-top: 32px;
    font-weight: 500;
    color: map-get($map: v.$colors, $key: grayishBlue);
    font-size: 12px;
    
    
    
  }
}
